DATABASE_URL="mysql://root:mcTY3QExlwuFyzet11cyoXde@annapurna.liara.cloud:32191/laughing_kilby"
# DATABASE_URL="mysql://root:mcTY3QExlwuFyzet11cyoXde@productplus-db:3306/laughing_kilby"
NEXTAUTH_SECRET="ey-name-to-behtarin-saraghaz-ey-name-to-behtarin-saraghaz"
NEXTAUTH_URL="https://swpl.ir"
JWT_SECRET="ey-name-to-behtarin-saraghaz-ey-name-to-behtarin-saraghaz"
NODE_ENV=production
PORT=3000
